.UserLogOut {
  font-size: 1.5vmin;
  color: var(--text-light);
  text-align: center;
  margin-top: 2em;
  width: 100%;
  margin-bottom: 3vmin;
 
  }
  
  .UserLogOut .email {
    font-size: 2.5vmin;
  }

 

 