.UserLogOut {
  font-size: 1.5vmin;
  color: var(--text-light);
  text-align: center;
  margin-top: 2em;
  width: 80%;
  margin-bottom: 3vmin;
  border-radius: 2vmin;
  background-color: var(--background-light);
  }
  
  .UserLogOut .email {
    font-size: 2.5vmin;
    margin: .6vmin;
  }

  button.btn-sm {
    margin-top: 30px;
    font-size: 1.5vmin;
    font-weight: bold;
    padding: .6vmin .8vmin;
    background-color: var(--text-light);
  } 

 