.AuthPage {
  height: 100%;
  display: flex;
  background-color: var(--white);
}

.AuthPage h3 {
  margin-top: 10em;
  text-align: left;
  margin-left: 7em;
  color: var(--text-light);
  cursor: pointer;
}