/* LineItem.module.css */

.LineItem {
  display: grid;
  grid-template-columns: 70px 1fr 100px 100px;
  margin: 1vmin;
  align-items: center;
  width: 420px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  color: #080710;
}

.LineItem:hover {
  transform: scale(1.05);
}

.imageInCart {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 1vmin;
  box-shadow: #080710;
}

.flex-ctr-ctr {
  display: flex;
  align-items: center;
  
}

.flex-col {
  display: flex;
  flex-direction: column;
 
}

.shopping-cart-name {
  font-size: 2em;
  text-align: center;
  color: #080710;
  border: 2px solid red;
 
}

.qty {
  display: flex;
  align-items: center;
 
}

.qty button {
  background-color: #080710;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  padding: 1vmin;
  margin: 0 5px;
}

.qty span {
  font-size: 18px;
  color: #080710;
  margin: 0 10px;
}

.extPrice {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}



  